@model Project_College_Scorecard.Models.AllColleges

@{ ViewData["Title"] = "Index"; }


<head>
    <meta charset="utf-8" />
    <title>Colleges</title>
    <link href=".\css\default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <table class="VanillaTable" border="1">
        <tr>
            <td colspan="3">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src=".\img\Logo.JPG" width="400"></img></a>   
            </td>
        </tr>       
        <tr>
            <td valign="top" class="LeftBar" >
                <table width="100%">
                    <tr><td class="LeftBarCell"><a asp-action="About"></a></td></tr>
                </table>
            </td>
            <td valign="top" width="5"> </td>
            <td  class="MainContent" valign="top">
                <table valign="top">   
                        <tr>  
                            <td class="PictureBoxHeader">Image</td>
                            <td class="PictureBoxHeader">School Name</td>                        
                            <td class="PictureBoxHeader">City</td>
                            <td class="PictureBoxHeader">Tuition Revenue</td>
                            <td class="PictureBoxHeader">Expenditure</td>
                            <td class="PictureBoxHeader"></td>
                         <tr/>
                    @foreach (Project_College_Scorecard.Models.CollegeResult result in Model.results)
                    {
                        <tr>  
                            <td><img class="PictureBox" src=".\img\nftccampus.jpg" /></td>
                            <td class="Hotel"> <a asp-action="Details" asp-route-ID="@result.latest.school.id">@(result.latest.school.name)</a></td>                        
                            <td class="HotelDesc">@(result.latest.school.city)</td>
                            <td class="HotelDesc">@(result.latest.school.tuition_revenue_per_fte.ToString("C2"))</td>
                            <td class="HotelDesc">@(result.latest.school.instructional_expenditure_per_fte.ToString("C2"))</td>
                            <td class="HotelDesc">
                                <div class="chart-container" style="position: relative; height:15vh; width:15vw">
                                    <canvas id=@(result.latest.school.id)></canvas>
                                </div>
                                <script>
                                    new Chart(document.getElementById(@(result.latest.school.id)), {
                                        type: 'bar',
                                        data: {
                                            labels: ["Revenue", "Expenditure"],
                                            datasets: [
                                                {
                                                    label: "Financials per FTE",
                                                    backgroundColor: ["#3e95cd", "#8e5ea2"],
                                                    data: [@(result.latest.school.tuition_revenue_per_fte), @(result.latest.school.instructional_expenditure_per_fte)]
                                                }
                                            ]
                                        },
                                        options: {
                                            barThickness: 1,
                                            legend: { display: false },
                                            title: {
                                                display: true,
                                                text: 'School Financials'
                                            }
                                        }
                                    });
                                </script>
                            </td>
                        </tr>
                    }
                </table>
            </td>           
        </tr>        
    </table>
</body>